.card {
  width: 14rem;
  height: 250px;
}

.card i {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.delete {
  color: red;
}

.edit {
  color: green;
}

.card-title {
  background-color: #EDEBE4;
  width: max-content;
  border-radius: 50px;
  border: 1px solid #EDEBE4;
  padding: 0 10px;
}

.card-text {
  text-align: center
}

.card-footer {
  text-align: end;
}